@use '/src/assets/styles/colors' as c;

.class-item {
  min-height: 400px;
  // margin: 0 20px 40px 20px;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  .action {
    position: relative;
    span.img_title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      color: c.$primary_hover;
      text-align: center;
    }
    img.image {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      width: 100%;
      height: 150px;
      min-height: 150px;
      object-fit: cover;
    }
    @media (max-width: 994px) {
      img.image {
        max-height: 150px;
        height: auto;
      }
    }
    .dot {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 10px;
      &:hover {
        cursor: pointer;
      }
      span {
        right: 5px;
        width: 5px;
        height: 5px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
      }
      span.dot1 {
        top: 0px;
      }
      span.dot2 {
        top: 8px;
      }
      span.dot3 {
        top: 16px;
      }
    }
    .dropdown {
      position: absolute;
      right: 10px;
      top: 10px;
      .anticon {
        color: c.$primary_active;
        font-size: 20px;
      }
    }
  }
  .content {
    padding: 10px 15px;

    .title {
      margin: 0;
      font-weight: 600;
      font-size: 21px;
      color: c.$primary_hover;
      &:hover {
        color: c.$primary_active;
      }
    }
    .list-desc {
      padding: 0;
      .view_qr_code {
        cursor: pointer;
        color: c.$link_qr;
      }
      li.item {
        list-style: none;
        padding: 3px 0;
        font-size: 15px;
        span:first-child {
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 994px) {
    .content {
      padding: 0px 15px;
    }
  }
}
.qr_code .ant-modal-body {
  text-align: center !important;
  .coppy_link {
    cursor: pointer;
    &:hover {
      color: c.$link_qr;
    }
  }
}
