@use '/src/assets/styles/colors' as c;

.question {
  margin-top: 20px;
  .action {
    margin-bottom: 20px;
  }
  .ant-table-thead > tr > th {
    background: c.$pimary_header;
  }
  .ant-table-tbody > tr:nth-child(even) td {
    background: c.$pimary_body;
  }
  tr.ant-table-row.ant-table-row-level-0:hover td {
    background: c.$pimary_body;
  }
  button.primary:hover {
    opacity: 0.9;
  }
}
