.popup-badge__modal {
  .ant-modal-body {
    padding: 0;
  }

  .popup-badge {
    border-radius: 6px;
    background: #fff;
  }

  .popup-badge__skeleton {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
  }

  .popup-badge__skin {
    padding: 10px;
  }

  .popup-badge__badge-item-skin {
    width: 25%;
    padding: 10px;
  }

  .popup-badge__badge-item-skeleton {
    height: 100%;
    border-radius: 6px;
    background: #fff;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;

    &--correctly {
      color: green;
    }

    &--incorrectly {
      color: red;
    }

    &:hover {
        background-color: rgb(87, 89, 218);
        color: #fff
    }
  }

  .popup-badge__badge-item-label {
  }
}
