@use '/src/assets/styles/colors' as c;

.classdetail__item .student-item {
  width: 100%;
  min-height: 160px;
  background: c.$second;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  &.disable {
    pointer-events: none;
    cursor: none;
  }
  .anticon {
    font-size: 30px;
    color: c.$primary;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(25, 15, 0, 0.25);
  }
  .name {
    text-align: center;
    padding: 0 5px;
    a {
      font-size: 17px;
      color: c.$color_dark;
    }
  }
}

.ant-tabs-tab.ant-tabs-tab-active {
  background-color: c.$primary;
  .ant-tabs-tab-btn {
    color: c.$second;
  }
}
.ant-tabs-tab {
  padding: 8px 40px;
}
.ant-tabs-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-tabs-nav-list {
  border: 2px solid c.$primary;
  border-radius: 8px;
  overflow: hidden;
}
