.create-assignment {
  .create-assignment__skin {
  }

  .create-assignment__header {
    padding: 26px 48px;
  }

  .create-assignment__control-panel {
    display: flex;
    column-gap: 50px;
  }

  .create-assignment__add-button {
  }

  .create-assignment__questions-skin {
    padding: 10px 48px;
  }

  .create-assignment__question-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
