.create-assignment {
  .create-assignment__skin {
    .ant-input {
      border-radius: 6px;
    }
  }

  .create-assignment__action {
    text-align: right;
  }

  .create-assignment__header {
    padding: 0px 48px 2px 48px;
    text-align: right;
  }

  .create-assignment__control-panel {
    display: flex;
    column-gap: 50px;
    margin-bottom: 10px;

    .ant-form-item {
      margin: 0px;
    }
  }

  .create-assignment__add-button {
  }

  .create-assignment__questions-skin {
    padding: 10px 48px;
  }

  .create-assignment__question-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
