@use '/src/assets/styles/colors' as c;
@use '/src/assets/styles/breakpoints' as brkp;

/* Navbar destkop */
.navbar {
  background-color: c.$primary;
  width: 100%;
  height: 64px;

  .navbar__logo {
    // width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 14px;

    img {
      height: 40px;
    }
  }

  .navbar__skin {
    // max-width: 1366px;
    padding: 0 48px;
    margin: 0 auto;
    height: 100%;
    display: flex;
  }

  .navbar__skeleton {
    padding: 14px;
    flex-grow: 1;
    display: flex;
  }

  .navbar__listItem {
    flex-grow: 1;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 35px;
  }

  .navbar__item {
  }

  .navbar__showmore {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .navbar__link {
    display: flex;
    font-weight: bold;
    column-gap: 5px;

    .navbar__icon,
    .navbar__label {
      color: c.$second;
      transition: 0.3s;
    }

    &:hover {
      .navbar__icon,
      .navbar__label {
        color: c.$primary_hover;
      }
    }
  }

  .navbar__user {
    display: flex;
    column-gap: 5px;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 200px;
      height: 100px;
      // background: red;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:hover {
      .navbar__dropdown {
        display: block;
      }
    }

    .navbar__label,
    .navbar__avatar {
      color: c.$second;
      font-weight: bold;
    }

    .navbar__avatar {
      width: 32px;
      height: 32px;
    }

    .navbar__dropdown {
      position: absolute;
      width: 200px;
      border-radius: 10px;
      color: c.$second;
      top: 40px;
      right: 0px;
      background-color: c.$second;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
      display: none;
      z-index: 99999;
    }
  }

  .navbar__listControl {
    padding-left: 0;
    margin-bottom: 0;

    .navbar__controlItem {
      display: flex;
      align-items: center;
      column-gap: 5px;
      padding: 5px 10px;
      justify-content: flex-start;

      &:hover {
        .navbar__control-icon,
        .navbar__control-label {
          color: c.$primary;
        }
      }
    }

    .navbar__control-icon,
    .navbar__control-label {
      color: #000;
    }
  }

  @media screen and (max-width: brkp.$xl) {
    .navbar__user {
      .navbar__label {
        display: none;
      }
    }
  }

  @media screen and (max-width: brkp.$lg) {
    .navbar__link {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media screen and (max-width: brkp.$md) {
    .navbar__listItem {
      .navbar__label {
        display: none;
      }
    }
  }

  @media screen and (max-width: brkp.$sm) {
    .navbar__skeleton {
      justify-content: space-between;
    }

    .navbar__showmore {
      display: flex;
    }

    .navbar__logo {
      display: none;
    }

    .navbar__listItem {
      display: none;
    }
  }
}

/* Navbar modal */

.navbar__modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 9999;
  display: flex;
  opacity: 0;

  .navbar__modal__skin {
    flex-direction: column;
    background: #fff;
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    transform: translateX(-100%);
    transition: all 3.4s ease-in;
  }

  &--active {
    opacity: 1;

    .navbar__modal__skin {
      transform: translateX(0%);
    }
  }

  /* Navbar header */
  .navbar__modal__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 19px;
    align-items: center;
  }

  .navbar__modal__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .navbar__modal__username {
  }

  /* Navbar body */
  .navbar__modal__item {
    display: block;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: c.$gray2_color;
    margin: 12px;

    &--active {
      background-color: c.$primary;
      
      .navbar__modal__link.navbar__modal__label {
        color: c.$second;
      }
    }
  }

  .navbar__modal__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .navbar__modal__link {
    display: flex;
    font-weight: bold;
    column-gap: 5px;
    color: c.$primary;
   

    .navbar__modal__icon,
    .navbar__modal__label {
      transition: 0.3s;
    }

    &:hover {
      .navbar__modal__icon,
      .navbar__modal__label {
        color: c.$primary_hover;
      }
    }
  }

  /* Footer */

  .navbar__modal__footer {
    
  }
}
