@use '/src/assets/styles/colors' as c;
.student {
  width: 100%;
  .ant-form-item-label > label {
    font-size: 16px !important;
  }
  .ant-form-item-label
    > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
    content: unset;
  }
  .ant-col.ant-col-24.ant-form-item-label {
    padding-bottom: 0;
  }
  .ant-form-item-with-help .ant-form-item-explain {
    margin: 5px 0 20px 0;
  }

  &-box:last-child {
    margin-top: 30px;
    padding-top: 10px;
  }
  .border-top {
    border-top: 1px solid c.$gray3_color;
  }
  &-link {
    font-size: 16px;
  }
  .student-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 5px;
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid c.$gray4_color;
      border-radius: 8px;
      outline: 0;
      background-color: c.$gray_input;
      height: 40px;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: 1px solid c.$gray4_color;
      border-radius: 8px;
      outline: 0;
      background-color: c.$gray_input;
    }

    .coppy {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-color: c.$primary;
      height: 40px;
      padding: 10px;
      color: c.$second;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      &:hover {
        cursor: pointer;
        background-color: c.$primary_active;
      }
      &:active {
        cursor: pointer;
        background-color: c.$primary_hover;
      }
    }
  }
  .ant-btn:focus,
  .ant-btn:hover {
    color: c.$primary_hover;
    border-color: c.$primary_hover;
  }
  .ant-btn-primary {
    color: c.$second;
    border-color: c.$primary;
    background: c.$primary;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  }
  .ant-btn-primary:focus,
  .ant-btn-primary:hover {
    border-color: c.$primary_active;
    background: c.$primary_active;
    color: c.$second;
  }
  
}
