@use '/src/assets/styles/colors' as c;

.site_wrapper {
  // padding: 26px 48px;

  .site_container {
    width: 100%;
    // padding: 0 48px;

    .addclass {
      display: flex;
      align-items: flex-end;
    }

    @media screen and (max-width: 768px) {
      padding: 0 12px;
    }
  }
  @media screen and (max-width: 500px) {
    .taskbars {
      width: 100%;
      flex-direction: column;
      .fillter {
        width: 100%;
      }
      .addclass {
        margin-top: 16px;
        width: 100%;
      }
      .ant-form-item-control {
        width: 100%;
      }
    }
  }

  .classes {
    margin-top: 40px;
    .ant-row {
      row-gap: 10px;
    }
    .loading-list {
      display: flex;
      width: 100%;
      .loading-item {
        flex: 0 0 calc(33.333% - 16px);
        width: 33.3333%;
        margin-right: 16px;
        .ant-skeleton {
          width: 100%;
          .ant-skeleton-image {
            width: 100%;
            height: 300px;
          }
        }
      }
    }
  }
  .taskbars {
    // margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .fillter {
    // display: flex;
    // align-items: center;
    width: 40%;
    .ant-form-item {
      margin-bottom: 0px;
    }

    .ant-form-item-label label {
      height: 100%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .site_wrapper .classes .loading-list .loading-item {
    flex: 0 0 calc(50% - 16px);
    width: 50%;
  }
}

@media only screen and (max-width: 575px) {
  .site_wrapper .classes .loading-list .loading-item {
    flex: 0 0 100%;
    width: 100%;
  }
}
