$primary: #f5ab41;
$primary_active: #f58d22;
$primary_hover: #e36943;

$second: #fff;
$white: #ffffff;
$black: #000;
$second_hover: rgb(231, 228, 228);

// Màu xám cho đường viền
$border: rgba(0, 0, 0, 0.25);

// text
$text_gray: #636364;

//gray
$gray8_color: #616161;
$gray9_color: #424242;
$gray7_color: #757575;
$gray6_color: #9e9e9e;
$gray5_color: #bdbdbd;
$gray4_color: #e0e0e0;
$gray3_color: #eeeeee;
$gray2_color: #f5f5f5;
$gray1_color: #fafafa;
$gray_light: #97adb6;
